PROXY_URI=http://127.0.0.1:2081

# KuCoin Configuration
KUCOIN_API_KEY=
KUCOIN_API_SECRET=
KUCOIN_API_PASSPHRASE=
KUCOIN_DEFAULT_SYMBOLS=PAXG-USDT

# Binance Configuration
BINANCE_API_KEY=
BINANCE_API_SECRET=
BINANCE_DEFAULT_SYMBOLS=PAXG-USDT

# Nobitex Configuration
# Symbols format: Base-Quote (e.g. USDT-IRT,BTC-IRT)
NOBITEX_DEFAULT_SYMBOLS=USDT-IRT
# Token for wallet balance fetching (optional) - Get from: https://nobitex.ir/app/settings/
NOBITEX_TOKEN=
